<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#4CAF50">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Maintenance Mode</title>
</head>
<body>
    <h1>Maintenance Mode</h1>
    <p>The application is currently undergoing maintenance. Please try again later.</p>
    <form method="POST">
        <label for="maintrance_password">Maintrance Password:</label>
        <input type="password" name="maintrance_password" placeholder="Enter Maintrance password to bypass">
        <button type="submit">Submit</button>
    </form>
</body>
<footer>
    <p>Listen APP. All rights reserved.</p>
    <p>Contact: <a href="mailto:prhode@e-mail.de">prhode@e-mail.de</a></p>
    <p>This App is at Time in the Beta Phase, by Problems please contact me.</p>
</footer>
</html>